@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap")
  @tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #555555;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffae00;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ffe600;
}

i {
  cursor: pointer;
}

i:hover {
  color: #ffffff;
  font-size: 80px;
}

.divider {
  transition: width 0.3s ease;
}
